@media (min-width: 1196px) {
  .grid-container-last-page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "head head head head "
      "leftp r1 r2 rightp"
      "leftp r3 r4 rightp"
      "bott bott bott bott";
    grid-template-rows: 35vh auto auto 35vh;
    grid-template-columns: 10vw auto auto 10vw;

    .head {
      grid-area: head;
      display: flex;
      justify-content: center;
    }

    .leftp {
      grid-area: leftp;
    }

    .rightp {
      grid-area: rightp;
    }

    .r1 {
      grid-area: r1;
      display: flex;
      justify-content: center;
      margin: 1vw;
    }

    .r2 {
      grid-area: r2;
      display: flex;
      justify-content: center;
      margin: 1vw;
    }

    .r3 {
      grid-area: r3;
      display: flex;
      justify-content: center;
      margin: 1vw;
    }

    .r4 {
      grid-area: r4;
      display: flex;
      justify-content: center;
      margin: 1vw;
    }

    .bott {
      grid-area: bott;
      display: flex;
    }
    .flag-btn {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 1195px) {
  .grid-container-last-page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "head head head "
      "leftp r1 rightp"
      "leftp r2 rightp"
      "leftp r3 rightp"
      "leftp r4 rightp"
      "bott bott bott ";
    grid-template-rows: 10vh auto auto auto auto 10vh;
    grid-template-columns: 30vw 40vw 30vw;
    overflow-x: hidden;

    .head {
      grid-area: head;
      display: flex;
      justify-content: center;
    }
    .leftp {
      grid-area: leftp;
      display: flex;
    }
    .rightp {
      grid-area: rightp;
      display: flex;
    }
    .r1 {
      grid-area: r1;
      margin-bottom: 3vh;
    }
    .r2 {
      grid-area: r2;
      margin-bottom: 3vh;
    }
    .r3 {
      grid-area: r3;
      margin-bottom: 3vh;
    }
    .r4 {
      grid-area: r4;
      margin-bottom: 3vh;
    }
    .bott {
      grid-area: bott;
      display: flex;
    }
    .flag-btn {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 700px) {
  .grid-container-last-page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "head head head "
      "leftp r1 rightp"
      "leftp r2 rightp"
      "leftp r3 rightp"
      "leftp r4 rightp"
      "bott bott bott ";
    grid-template-rows: 10vh auto auto auto auto 10vh;
    grid-template-columns: 5vw 90vw 5vw;
    overflow-x: hidden;

    .head {
      grid-area: head;
      display: flex;
      justify-content: center;
    }
    .leftp {
      grid-area: leftp;
      display: flex;
    }
    .rightp {
      grid-area: rightp;
      display: flex;
    }
    .r1 {
      grid-area: r1;
      margin-bottom: 3vh;
    }
    .r2 {
      grid-area: r2;
      margin-bottom: 3vh;
    }
    .r3 {
      grid-area: r3;
      margin-bottom: 3vh;
    }
    .r4 {
      grid-area: r4;
      margin-bottom: 3vh;
    }
    .bott {
      grid-area: bott;
      display: flex;
    }
    .flag-btn {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
